span, a, h1, p, h2 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

h2, p, h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  margin: 0;
  padding: 0;
}

header {
  transition: 0.25s ease-in-out;
}

header.scrollDown {
  transform: translate3d(0, -120px, 0);
}

.new-section {
  display: flex;
  justify-content: center;
  border: 1px solid;
  padding: 15px 0;
  z-index: 0;
  background-color: white;
  transition: 0.25s linear;
}
.new-section ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.new-section a {
  text-decoration: none;
  color: black;
}

.new-section.openPopup {
  transform: translateY(92px);
}

.header {
  border: 1px solid;
  width: 1398px;
  margin: 0 auto;
}
.header__nav {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  margin: 0 auto;
  width: 1346px;
  padding: 21px 0;
}
.header__nav .nav__button {
  width: 157px;
  height: 52px;
  background-color: #FB4B4D;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__nav .nav__button span {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: white;
}
.header__nav .nav__logo {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header__nav a {
  text-decoration: none;
  color: black;
}
.header__popup {
  position: relative;
  padding: 7px 25px;
  border-radius: 0 0 25px 25px;
  border: 1px solid;
  background-color: white;
  transition: 0.25s linear;
  z-index: 0;
}
.header__popup i {
  font-size: 30px;
}
.header__popup i:nth-child(2) {
  display: none;
}
.header__popup i.rotateAnimation {
  animation-iteration-count: 1;
  animation-name: rotateAnimation;
  animation-fill-mode: forwards;
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
}
.header__popup.scrollDown {
  transform: translate3d(0, -20px, 0);
}

@keyframes rotateAnimation {
  100% {
    transform: rotate(180deg);
  }
}
.circle-red {
  background: #FB4B4D;
  width: 17px;
  height: 17px;
  border: 1px solid;
  border-radius: 100%;
  cursor: pointer;
}
.circle-purple {
  background: #8B83F6;
  width: 17px;
  height: 17px;
  border: 1px solid;
  border-radius: 100%;
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 986px 271px 699px 76px 721px 698px 76px 757px;
  width: 1400px;
  margin: 0 auto;
}

.b-first {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 233px 190px 78px 485px;
}
.b-first div {
  border: 1px solid;
}
.b-first__text {
  grid-area: 1/2/2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b-first__photo-1, .b-first__photo-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.b-first__photo-1 img, .b-first__photo-2 img {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
}
.b-first__photo-1 {
  grid-area: 4/1/5/2;
}
.b-first__photo-2 {
  grid-area: 2/2/5/3;
}
.b-second {
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 52px;
}
.b-third {
  border: 1px solid;
  display: flex;
  position: relative;
}
.b-third__items {
  width: -webkit-fill-available;
  margin: 0 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.b-third__items .items__item {
  width: 434px;
  height: 654px;
  background-image: url("../svg/content.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  gap: 13.5px;
  justify-content: flex-end;
  align-items: center;
}
.b-third__items .items__item p, .b-third__items .items__item h2 {
  font-weight: 400;
  letter-spacing: 0.5px;
}
.b-third__items .items__item p {
  font-size: 18px;
  line-height: 28.08px; /* 156% */
}
.b-third__items .items__item h2 {
  font-size: 32px;
  line-height: 38.016px; /* 118.8% */
}
.b-third__items .items__item img {
  margin-bottom: 23px;
}
.b-third__sandwich {
  position: absolute;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  margin: 22px;
}
.b-third__sandwich .sandwich-l {
  height: 38px;
  width: 38px;
  padding: 8px;
  border: 1px solid;
  border-radius: 50%;
}
.b-third__sandwich .sandwich-h {
  padding: 8px;
  border: 1px solid;
  border-radius: 25%;
  margin: 0 2.5vw;
}
.b-fourth, .b-seven {
  border: 1px solid;
}
.b-five {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}
.b-five img {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
}
.b-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.b-info .info-girl {
  border: 1px solid;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.b-info .info-girl img {
  width: 100%;
}
.b-info .info-girl h1 {
  margin: auto;
}
.b-info .info-content {
  overflow: hidden;
  border: 1px solid;
  position: relative;
}
.b-info .info-content .background-image {
  z-index: -1;
  width: 100%;
  height: 100%;
}
.b-info .info-content .content-stars {
  display: flex;
  position: absolute;
  margin: 61px 73px 71px 71px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: calc(100% - 144px);
  height: calc(100% - 132px);
}
.b-info .info-content .content-stars .stars-center {
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
}
.b-info .info-content .content-stars img {
  width: 31.818px;
  height: 31.954px;
}
.b-info .info-content .content-animals {
  position: absolute;
  top: 0;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  margin: 25px 66px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.b-info .info-content .content-animals div {
  display: flex;
  justify-content: space-between;
}
.b-info .info-content .content-animals img:nth-child(2n) {
  transform: scaleX(-1);
}
.b-info .info-content .content-text {
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  margin: 135px 152px;
  text-align: center;
}
.b-eight {
  position: relative;
  border: 1px solid;
  overflow: hidden;
  background-image: url("../svg/big_fire.svg");
  background-repeat: no-repeat;
  background-position-x: -113px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b-eight__background {
  position: absolute;
  width: 1354px;
  height: 716px;
}
.b-eight .angles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  margin: auto;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  margin: 69px 74px;
}
.b-eight .angles-pos {
  display: flex;
  justify-content: space-between;
}
.b-eight .angles-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89px;
  height: 89px;
  border: 1px solid;
  border-radius: 50%;
}

.footer {
  width: 1398px;
  margin: 0 auto;
  border: 1px solid;
  background-color: #CDFD3B;
}
.footer__nav {
  margin: 20px 93px;
  display: flex;
  justify-content: space-between;
}
.footer__nav a {
  text-decoration: none;
  color: black;
}

.reverse {
  transform: scaleX(-1);
}

.ujjo, .ujjo-2 {
  background-image: url("../svg/ujjo.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.ujjo {
  background-size: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 1/1/3/2;
}
.ujjo-2 {
  margin: 128px 268px;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  background-size: contain;
}
.ujjo-2 img {
  margin: 64px 24px;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}

.text__article {
  font-size: 58px;
  font-weight: 400;
  text-align: center;
  width: 580px;
}
.text__article-six {
  margin: auto;
}

.running-string {
  display: flex;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
}
.running-string a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  gap: 28px;
  text-wrap: nowrap;
  will-change: transform;
  animation: text-display 3s linear infinite;
  animation-direction: inherit;
}
.running-string-second {
  display: flex;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
}
.running-string-second a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  gap: 28px;
  text-wrap: nowrap;
  will-change: transform;
  animation: text-display2 6.76s linear infinite;
  animation-direction: inherit;
}

@keyframes text-display {
  to {
    transform: translateX(-374px);
  }
}
@keyframes text-display2 {
  to {
    transform: translateX(-843.5px);
  }
}
@media screen and (max-width: 1400px) {
  .header {
    width: calc(100vw - 2px);
  }
  .header__nav {
    width: calc(100vw - 58px);
  }
  main {
    grid-template-rows: 84vw 271px 50vw 76px 50vw 50vw 76px 54vw;
    width: 100vw;
  }
  .footer {
    width: calc(100vw - 2px);
  }
  .ujjo img {
    width: calc(50vw - 135px);
  }
  .b-first {
    grid-template-rows: 19.8vw 16.1vw 6.6vw auto;
  }
  .b-third__items .items__item {
    width: calc((100vw - 75px) / 3);
  }
  .b-third__items .items__item img {
    width: calc(100% - 50px);
    margin-bottom: calc((1400px - 100vw) * 0.217 + 23px);
  }
  .b-eight {
    background-position-x: center;
    background-position-y: top;
  }
  .b-eight__background {
    width: calc(100vw - 46px);
  }
  .b-info .info-content .content-animals div img {
    width: 9vw;
  }
  .text__article {
    width: auto;
  }
}
@media screen and (max-width: 1330px) {
  .b-info .info-content .content-text {
    margin: 141px 110px;
  }
}
@media screen and (max-width: 1200px) {
  main {
    grid-template-rows: 78vw 205px 50vw 76px 50vw 50vw 76px 54vw;
  }
  .b-first {
    grid-template-rows: 13vw 22.9vw 6.6vw auto;
  }
  .b-info .info-content .content-stars {
    margin: 61px 73px 71px 49px;
    width: calc(100% - 98px);
    height: calc(100% - 118px);
  }
  .b-info .info-content .content-text {
    margin: 100px 90px;
  }
  .b-info .info-content .content-text br {
    display: none;
  }
  .b-info .info-content .content-animals {
    display: none;
  }
  .text__article {
    font-size: 36px;
  }
}
@media screen and (max-width: 1100px) {
  .b-third__items .items__item h2 {
    font-size: 24px;
    line-height: normal;
  }
  .b-third__items .items__item p {
    line-height: normal;
  }
  .b-third__sandwich .sandwich-h {
    width: 30px;
    padding: 6px;
  }
  .b-third__sandwich .sandwich-l {
    height: 34px;
    width: 34px;
    padding: 6px;
  }
}
@media screen and (max-width: 1020px) {
  .b-info .info-content .content-text span {
    font-size: 0.875rem;
  }
  .ujjo-2 img {
    margin: 45px 24px;
  }
}
@media screen and (max-width: 930px) {
  main {
    margin-top: 9px;
  }
  .header {
    height: 90px;
    position: fixed;
    transform: initial;
    transition: transform 0.2s ease-in-out;
    top: 0;
    z-index: 2;
    background-color: white;
  }
  .header__nav {
    padding: 10px 28px;
    background-color: white;
  }
  .header__nav a {
    display: none;
  }
  .text__article {
    font-size: 24px;
  }
  main {
    grid-template-rows: 78vw 160px 50vw 76px 50vw auto 76px 54vw;
  }
  .ujjo-2 {
    margin: 14vw 28vw;
  }
  .ujjo-2 img {
    margin: 0;
  }
  .b-second img {
    width: 120px;
  }
  .b-third__sandwich .sandwich-l {
    height: 30px;
    width: 30px;
  }
  .b-third__sandwich .sandwich-h {
    width: 25px;
  }
  .b-third__items .items__item {
    gap: 5px;
    width: calc((100vw - 120px) / 3);
  }
  .b-third__items .items__item p {
    font-size: 14px;
  }
  .b-third__items .items__item h2 {
    font-size: 18px;
  }
  .b-third__items .items__item img {
    margin-bottom: calc((1400px - 100vw) * 0.25 + 23px);
    width: calc(100% - 30px);
  }
  .b-eight .angles-circle {
    height: 66px;
    width: 66px;
  }
  .b-eight .angles-circle img {
    width: 34px;
  }
  .b-info {
    border: 1px solid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
  }
  .b-info .info-girl {
    border: 0;
  }
  .b-info .info-girl h1 {
    margin: 25px;
  }
  .b-info .info-girl img {
    width: calc(100% - 40px);
  }
  .b-info .info-content {
    display: flex;
    justify-content: center;
    border: 0;
    margin: 25px;
  }
  .b-info .info-content .content-text {
    width: 60vw;
    top: 160px;
    margin: auto auto 130px auto;
  }
  .b-info .info-content .content-text span {
    font-size: 1.25rem;
  }
  .b-info .info-content .content-stars {
    margin: 61px 22px 0 20px;
  }
  .b-info .info-content .content-stars img {
    width: 50px;
    height: 50px;
  }
  .b-info .info-content .content-stars img div img {
    width: 50px;
    height: 50px;
  }
  .article-six {
    font-size: 4rem;
  }
}
@media screen and (max-width: 690px) {
  .b-info .info-content .content-text {
    top: 118px;
    margin: auto 28vw 130px 28vw;
  }
  .b-info .info-content .content-text span {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
