span, a, h1, p, h2 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

h2, p, h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  margin: 0;
  padding: 0;
}

header {
  border: 1px solid;
  width: 1398px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  margin: 0 auto;
  width: 1346px;
  padding: 21px 0 21px 0;
}
.nav-button {
  width: 157px;
  height: 52px;
  background-color: #FB4B4D;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-button span {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: white;
}
.nav-logo {
  display: flex;
  gap: 30px;
  align-items: center;
}
.nav a {
  text-decoration: none;
  color: black;
}

.circle-red {
  background: #FB4B4D;
  width: 17px;
  height: 17px;
  border: 1px solid;
  border-radius: 100%;
  cursor: pointer;
}
.circle-purple {
  background: #8B83F6;
  width: 17px;
  height: 17px;
  border: 1px solid;
  border-radius: 100%;
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 986px 271px 699px 76px 721px 698px 76px 757px 65px;
  width: 1400px;
  margin: 0 auto;
}

.block-first {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 233px 190px 78px 485px;
}
.block-first div {
  border: 1px solid;
}
.block-second {
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 52px;
}
.block-third {
  border: 1px solid;
  display: flex;
  position: relative;
}
.block-third .items {
  width: -webkit-fill-available;
  margin: 0 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block-third .items .item {
  background-image: url("../svg/content.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 93.7%;
  display: flex;
  flex-direction: column;
  padding: 23px;
  justify-content: space-evenly;
  align-items: center;
}
.block-third .items .item p, .block-third .items .item h2 {
  font-weight: 400;
  letter-spacing: 0.5px;
}
.block-third .items .item p {
  margin-top: 97px;
  font-size: 18px;
  line-height: 28.08px; /* 156% */
}
.block-third .items .item h2 {
  font-size: 32px;
  line-height: 38.016px; /* 118.8% */
}
.block-fourth, .block-seven {
  border: 1px solid;
}
.block-five {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}
.block-five img {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
}
.block-six {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.block-eight {
  position: relative;
  border: 1px solid;
  overflow: hidden;
  background-image: url("../svg/big_fire.svg");
  background-repeat: no-repeat;
  background-position-x: -113px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block-eight .frame {
  position: absolute;
  width: 1354px;
  height: 716px;
}
.block-eight .angles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  margin: auto;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  margin: 69px 74px;
}
.block-eight .angles-pos {
  display: flex;
  justify-content: space-between;
}
.block-eight .angles-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89px;
  height: 89px;
  border: 1px solid;
  border-radius: 50%;
}
.block-nine {
  border: 1px solid;
  background-color: #CDFD3B;
}
.block-nine .footer-nav {
  margin: 20px 93px;
  display: flex;
  justify-content: space-between;
}
.block-nine .footer-nav a {
  text-decoration: none;
  color: black;
}

.reverse {
  transform: scaleX(-1);
}

.sandwich {
  position: absolute;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  margin: 22px;
}
.sandwich-l {
  height: 38px;
  width: 38px;
  padding: 8px;
  border: 1px solid;
  border-radius: 50%;
}
.sandwich-h {
  padding: 8px;
  border: 1px solid;
  border-radius: 25%;
  margin: 0 2.5vw;
}

.ujjo {
  background-image: url("../svg/ujjo.svg");
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 1/1/3/2;
}
.ujjo-2 {
  margin: 128px 268px;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  background-image: url("../svg/ujjo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.ujjo-2 img {
  margin: 64px 24px;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}

.text-block {
  grid-area: 1/2/2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article {
  font-size: 58px;
  font-weight: 400;
  text-align: center;
  width: 580px;
}
.article-six {
  margin: auto;
}

.information-girl {
  border: 1px solid;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.information-girl img {
  width: 100%;
}
.information-text {
  overflow: hidden;
  border: 1px solid;
  position: relative;
}
.information-text .background-image {
  z-index: -1;
}
.information-text .stars {
  display: flex;
  position: absolute;
  margin: 61px 73px 71px 71px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: calc(100% - 144px);
  height: calc(100% - 132px);
}
.information-text .stars-center {
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
}
.information-text .stars img {
  width: 31.818px;
  height: 31.954px;
}
.information-text .animals {
  position: absolute;
  top: 0;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  margin: 25px 66px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.information-text .animals div {
  display: flex;
  justify-content: space-between;
}
.information-text .animals img:nth-child(2n) {
  transform: scaleX(-1);
}
.information-text .content {
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  margin: 135px 152px;
  text-align: center;
}

.running-string {
  display: flex;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
}
.running-string a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  gap: 28px;
  text-wrap: nowrap;
  will-change: transform;
  animation: text-display 3s linear infinite;
  animation-direction: inherit;
}
.running-string-second {
  display: flex;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
}
.running-string-second a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  gap: 28px;
  text-wrap: nowrap;
  will-change: transform;
  animation: text-display2 6.76s linear infinite;
  animation-direction: inherit;
}

.photo-num1 {
  grid-area: 4/1/5/2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.photo-num1 img {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
}
.photo-num2 {
  grid-area: 2/2/5/3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.photo-num2 img {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
}

@keyframes text-display {
  to {
    transform: translateX(-374px);
  }
}
@keyframes text-display2 {
  to {
    transform: translateX(-843.5px);
  }
}
@media screen and (max-width: 1400px) {
  header {
    width: calc(100vw - 2px);
  }
  .nav {
    width: calc(100vw - 58px);
  }
  main {
    grid-template-rows: 84vw 271px 699px 76px 721px 698px 76px 54vw 65px;
    width: 100vw;
  }
  .ujjo img {
    width: calc(50vw - 135px);
  }
  .block-first {
    grid-template-rows: 19.8vw 16.1vw 6.6vw auto;
  }
  .block-third .items {
    justify-content: space-around;
  }
  .block-third .items .item {
    padding: 0;
    width: 20px;
  }
  .block-third .items .item img {
    width: 20px;
  }
  .block-eight {
    background-position-x: center;
    background-position-y: top;
  }
  .block-eight .frame {
    width: calc(100vw - 46px);
  }
  .article {
    width: auto;
  }
}

/*# sourceMappingURL=style.css.map */
